certifi==2026.7.22
charset-normalizer==3.5.1
idna==3.20
Logbook==1.10.1
norgatedata==1.0.77
numpy==2.5.3
pandas==3.0.6
python-dateutil==2.9.0.post0
requests==2.34.2
six==1.17.0
typing_extensions==4.16.0
tzdata==2026.4
urllib3==2.8.0
